.nav {
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
}
.nav-container h2 {
    display: flex;
    font-size: 2rem;
    font-weight: 800;
}
.nav-container {
    display: flex;
    justify-content: space-between;
}
